*{
    margin: 0;
    padding: 0;
}


.gomitas{
    height: 700px;
    width: 100vw;

    background-image: url("../img/messi.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.somos {
    width: 43.75em;
    padding-left: 10px;
}

.imagen-1 {
    width: 43.75em;
    height: 350px;
    padding-right: 10px;
}

.imagen-1 img {
    width: 100%;
    height: 100%;
}

.imagen-2 {
    width: 43.75em;
    height: 350px;
    padding-left: 10px;
}

.imagen-2 img {
    width: 100%;
    height: 100%;
}

.texto {
    width: 700px;
    padding-right: 10px;
}

section {
    padding-top: 1em;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    max-width: 100%;
}

.imagen-1, .imagen-2 {
    justify-self: center;
}

.somos, .texto {
    justify-self: center;
    align-self: center;
}

.somos, .texto h2 {
    text-align: center;
}
